.input {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}

.input label,
select label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input input,
.select select{
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.input input:focus,
.select select:focus {
  outline: none;
  border-color: #2A2F4F;
}